<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ComplaintZilla</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login_Controller</display-name>
    <servlet-name>Login_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Login_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_Controller</servlet-name>
    <url-pattern>/Login_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register_Complaint_Controller</display-name>
    <servlet-name>Register_Complaint_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Register_Complaint_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register_Complaint_Controller</servlet-name>
    <url-pattern>/Register_Complaint_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit_Complaint_Controller</display-name>
    <servlet-name>Edit_Complaint_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Edit_Complaint_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit_Complaint_Controller</servlet-name>
    <url-pattern>/Edit_Complaint_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register_Controller</display-name>
    <servlet-name>Register_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Register_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register_Controller</servlet-name>
    <url-pattern>/Register_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Complaint_Action_Controller</display-name>
    <servlet-name>Complaint_Action_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Complaint_Action_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Complaint_Action_Controller</servlet-name>
    <url-pattern>/Complaint_Action_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>to search the Complaints for editing.</description>
    <display-name>Search_Controller</display-name>
    <servlet-name>Search_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Search_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search_Controller</servlet-name>
    <url-pattern>/Search_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_Index</display-name>
    <servlet-name>Admin_Index</servlet-name>
    <servlet-class>com.muthagroup.controller.Admin_Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_Index</servlet-name>
    <url-pattern>/Admin_Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Company_Controller</display-name>
    <servlet-name>Add_Company_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Add_Company_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Company_Controller</servlet-name>
    <url-pattern>/Add_Company_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Customer_Controller</display-name>
    <servlet-name>Add_Customer_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Add_Customer_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Customer_Controller</servlet-name>
    <url-pattern>/Add_Customer_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Item_Controller</display-name>
    <servlet-name>Add_Item_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Add_Item_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Item_Controller</servlet-name>
    <url-pattern>/Add_Item_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Subject_Controller</display-name>
    <servlet-name>Add_Subject_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Add_Subject_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Subject_Controller</servlet-name>
    <url-pattern>/Add_Subject_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Defect_Controller</display-name>
    <servlet-name>Add_Defect_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Add_Defect_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Defect_Controller</servlet-name>
    <url-pattern>/Add_Defect_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Category_Controller</display-name>
    <servlet-name>Add_Category_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Add_Category_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Category_Controller</servlet-name>
    <url-pattern>/Add_Category_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Action_Controller</display-name>
    <servlet-name>Add_Action_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Add_Action_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Action_Controller</servlet-name>
    <url-pattern>/Add_Action_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit_By_Search_Others_Controller</display-name>
    <servlet-name>Edit_By_Search_Others_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Edit_By_Search_Others_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit_By_Search_Others_Controller</servlet-name>
    <url-pattern>/Edit_By_Search_Others_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_AutoMail_Controller</display-name>
    <servlet-name>Add_AutoMail_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Add_AutoMail_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_AutoMail_Controller</servlet-name>
    <url-pattern>/Add_AutoMail_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>All_New_Complaint_Report</display-name>
    <servlet-name>All_New_Complaint_Report</servlet-name>
    <servlet-class>com.muthagroup.controller.All_New_Complaint_Report</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>All_New_Complaint_Report</servlet-name>
    <url-pattern>/All_New_Complaint_Report</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit_Action_Controller</display-name>
    <servlet-name>Edit_Action_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Edit_Action_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit_Action_Controller</servlet-name>
    <url-pattern>/Edit_Action_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Dept_Controller</display-name>
    <servlet-name>Add_Dept_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Add_Dept_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Dept_Controller</servlet-name>
    <url-pattern>/Add_Dept_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Comp_StatusWise_Report</display-name>
    <servlet-name>Comp_StatusWise_Report</servlet-name>
    <servlet-class>com.muthagroup.controller.Comp_StatusWise_Report</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Comp_StatusWise_Report</servlet-name>
    <url-pattern>/Comp_StatusWise_Report</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Comp_StatusWise_ReportMKT</display-name>
    <servlet-name>Comp_StatusWise_ReportMKT</servlet-name>
    <servlet-class>com.muthagroup.controller.Comp_StatusWise_ReportMKT</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Comp_StatusWise_ReportMKT</servlet-name>
    <url-pattern>/Comp_StatusWise_ReportMKT</url-pattern>
  </servlet-mapping>
</web-app>