<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ECN</display-name>
  <welcome-file-list>
    <welcome-file>LoginCAB.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Change_Request_Controller</display-name>
    <servlet-name>Change_Request_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Change_Request_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Change_Request_Controller</servlet-name>
    <url-pattern>/Change_Request_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit_Request_Controller</display-name>
    <servlet-name>Edit_Request_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Edit_Request_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit_Request_Controller</servlet-name>
    <url-pattern>/Edit_Request_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login_Controller</display-name>
    <servlet-name>Login_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Login_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_Controller</servlet-name>
    <url-pattern>/Login_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cab_ApproveDecline_Request_Controller</display-name>
    <servlet-name>Cab_ApproveDecline_Request_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Cab_ApproveDecline_Request_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cab_ApproveDecline_Request_Controller</servlet-name>
    <url-pattern>/Cab_ApproveDecline_Request_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search_Request_Controller</display-name>
    <servlet-name>Search_Request_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Search_Request_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search_Request_Controller</servlet-name>
    <url-pattern>/Search_Request_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Action_Controller</display-name>
    <servlet-name>Action_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Action_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Action_Controller</servlet-name>
    <url-pattern>/Action_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Customer_Request_Controller</display-name>
    <servlet-name>Customer_Request_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Customer_Request_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer_Request_Controller</servlet-name>
    <url-pattern>/Customer_Request_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cab_ApproveDecline_Request_Controller_Customer</display-name>
    <servlet-name>Cab_ApproveDecline_Request_Controller_Customer</servlet-name>
    <servlet-class>com.muthagroup.controller.Cab_ApproveDecline_Request_Controller_Customer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cab_ApproveDecline_Request_Controller_Customer</servlet-name>
    <url-pattern>/Cab_ApproveDecline_Request_Controller_Customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Action_Controller_Customer</display-name>
    <servlet-name>Action_Controller_Customer</servlet-name>
    <servlet-class>com.muthagroup.controller.Action_Controller_Customer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Action_Controller_Customer</servlet-name>
    <url-pattern>/Action_Controller_Customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit_Customer_Request_Controller</display-name>
    <servlet-name>Edit_Customer_Request_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Edit_Customer_Request_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit_Customer_Request_Controller</servlet-name>
    <url-pattern>/Edit_Customer_Request_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search_Request_Customer_Controller</display-name>
    <servlet-name>Search_Request_Customer_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Search_Request_Customer_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search_Request_Customer_Controller</servlet-name>
    <url-pattern>/Search_Request_Customer_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reports_Internal_Controller</display-name>
    <servlet-name>Reports_Internal_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Reports_Internal_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reports_Internal_Controller</servlet-name>
    <url-pattern>/Reports_Internal_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reports_customer_Controller</display-name>
    <servlet-name>Reports_customer_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Reports_customer_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reports_customer_Controller</servlet-name>
    <url-pattern>/Reports_customer_Controller</url-pattern>
  </servlet-mapping>
</web-app>