<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>dvpboss</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login_Controller_Dvp</display-name>
    <servlet-name>Login_Controller_Dvp</servlet-name>
    <servlet-class>com.muthagroup.controller.Login_Controller_Dvp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_Controller_Dvp</servlet-name>
    <url-pattern>/Login_Controller_Dvp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewSheet_Controller</display-name>
    <servlet-name>NewSheet_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.NewSheet_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewSheet_Controller</servlet-name>
    <url-pattern>/NewSheet_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Operation</display-name>
    <servlet-name>Add_Operation</servlet-name>
    <servlet-class>com.muthagroup.controller.Add_Operation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Operation</servlet-name>
    <url-pattern>/Add_Operation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Machining_Controller</display-name>
    <servlet-name>Add_Machining_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Add_Machining_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Machining_Controller</servlet-name>
    <url-pattern>/Add_Machining_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Fixture_Controller</display-name>
    <servlet-name>Add_Fixture_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Add_Fixture_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Fixture_Controller</servlet-name>
    <url-pattern>/Add_Fixture_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_CT_Controller</display-name>
    <servlet-name>Add_CT_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Add_CT_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_CT_Controller</servlet-name>
    <url-pattern>/Add_CT_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Gauge_Controller</display-name>
    <servlet-name>Add_Gauge_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Add_Gauge_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Gauge_Controller</servlet-name>
    <url-pattern>/Add_Gauge_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Others_Controller</display-name>
    <servlet-name>Add_Others_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Add_Others_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Others_Controller</servlet-name>
    <url-pattern>/Add_Others_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_IMM_Controller</display-name>
    <servlet-name>Add_IMM_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Add_IMM_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_IMM_Controller</servlet-name>
    <url-pattern>/Add_IMM_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit_Operation</display-name>
    <servlet-name>Edit_Operation</servlet-name>
    <servlet-class>com.muthagroup.controller.Edit_Operation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit_Operation</servlet-name>
    <url-pattern>/Edit_Operation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit_Fixture_Controller</display-name>
    <servlet-name>Edit_Fixture_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Edit_Fixture_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit_Fixture_Controller</servlet-name>
    <url-pattern>/Edit_Fixture_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit_CT_Controller</display-name>
    <servlet-name>Edit_CT_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Edit_CT_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit_CT_Controller</servlet-name>
    <url-pattern>/Edit_CT_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Approval_Controller</display-name>
    <servlet-name>Approval_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Approval_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Approval_Controller</servlet-name>
    <url-pattern>/Approval_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit_Gauge_Controller</display-name>
    <servlet-name>Edit_Gauge_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Edit_Gauge_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit_Gauge_Controller</servlet-name>
    <url-pattern>/Edit_Gauge_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit_Machining_Controller</display-name>
    <servlet-name>Edit_Machining_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Edit_Machining_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit_Machining_Controller</servlet-name>
    <url-pattern>/Edit_Machining_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit_Others_Controller</display-name>
    <servlet-name>Edit_Others_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Edit_Others_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit_Others_Controller</servlet-name>
    <url-pattern>/Edit_Others_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit_IMM_Controller</display-name>
    <servlet-name>Edit_IMM_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Edit_IMM_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit_IMM_Controller</servlet-name>
    <url-pattern>/Edit_IMM_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit_PPAPTrials_controller</display-name>
    <servlet-name>Edit_PPAPTrials_controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Edit_PPAPTrials_controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit_PPAPTrials_controller</servlet-name>
    <url-pattern>/Edit_PPAPTrials_controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit_Batch_controller</display-name>
    <servlet-name>Edit_Batch_controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Edit_Batch_controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit_Batch_controller</servlet-name>
    <url-pattern>/Edit_Batch_controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_PPAPTrials_controller</display-name>
    <servlet-name>Add_PPAPTrials_controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Add_PPAPTrials_controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_PPAPTrials_controller</servlet-name>
    <url-pattern>/Add_PPAPTrials_controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Batch_controller</display-name>
    <servlet-name>Add_Batch_controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Add_Batch_controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Batch_controller</servlet-name>
    <url-pattern>/Add_Batch_controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit_NewSheet_Controller</display-name>
    <servlet-name>Edit_NewSheet_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Edit_NewSheet_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit_NewSheet_Controller</servlet-name>
    <url-pattern>/Edit_NewSheet_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search_Controller</display-name>
    <servlet-name>Search_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Search_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search_Controller</servlet-name>
    <url-pattern>/Search_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_PrePPAPTrials_controller</display-name>
    <servlet-name>Add_PrePPAPTrials_controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Add_PrePPAPTrials_controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_PrePPAPTrials_controller</servlet-name>
    <url-pattern>/Add_PrePPAPTrials_controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit_PrePPAPTrials_controller</display-name>
    <servlet-name>Edit_PrePPAPTrials_controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Edit_PrePPAPTrials_controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit_PrePPAPTrials_controller</servlet-name>
    <url-pattern>/Edit_PrePPAPTrials_controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add_FTD_Conroller</display-name>
    <servlet-name>add_FTD_Conroller</servlet-name>
    <servlet-class>com.muthagroup.controller.add_FTD_Conroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_FTD_Conroller</servlet-name>
    <url-pattern>/add_FTD_Conroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>edit_FTD_Conroller</display-name>
    <servlet-name>edit_FTD_Conroller</servlet-name>
    <servlet-class>com.muthagroup.controller.edit_FTD_Conroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>edit_FTD_Conroller</servlet-name>
    <url-pattern>/edit_FTD_Conroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Document_controller</display-name>
    <servlet-name>Add_Document_controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Add_Document_controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Document_controller</servlet-name>
    <url-pattern>/Add_Document_controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit_Document_controller</display-name>
    <servlet-name>Edit_Document_controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Edit_Document_controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit_Document_controller</servlet-name>
    <url-pattern>/Edit_Document_controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MOM_Configure</display-name>
    <servlet-name>MOM_Configure</servlet-name>
    <servlet-class>com.muthagroup.controller.MOM_Configure</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MOM_Configure</servlet-name>
    <url-pattern>/MOM_Configure</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MOM_Sheet_Update</display-name>
    <servlet-name>MOM_Sheet_Update</servlet-name>
    <servlet-class>com.muthagroup.controller.MOM_Sheet_Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MOM_Sheet_Update</servlet-name>
    <url-pattern>/MOM_Sheet_Update</url-pattern>
  </servlet-mapping>
</web-app>