<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>foundrymis</display-name>
  <welcome-file-list>
    <welcome-file>MIS_Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Get_Daily_Prod_Controller</display-name>
    <servlet-name>Get_Daily_Prod_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Get_Daily_Prod_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get_Daily_Prod_Controller</servlet-name>
    <url-pattern>/Get_Daily_Prod_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Get_Dispatch_Controller</display-name>
    <servlet-name>Get_Dispatch_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Get_Dispatch_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get_Dispatch_Controller</servlet-name>
    <url-pattern>/Get_Dispatch_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Get_IHR_Controller</display-name>
    <servlet-name>Get_IHR_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Get_IHR_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get_IHR_Controller</servlet-name>
    <url-pattern>/Get_IHR_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Get_CR_Controller</display-name>
    <servlet-name>Get_CR_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Get_CR_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get_CR_Controller</servlet-name>
    <url-pattern>/Get_CR_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Get_Mould_Controller</display-name>
    <servlet-name>Get_Mould_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Get_Mould_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get_Mould_Controller</servlet-name>
    <url-pattern>/Get_Mould_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Get_PotWise_Controller</display-name>
    <servlet-name>Get_PotWise_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Get_PotWise_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get_PotWise_Controller</servlet-name>
    <url-pattern>/Get_PotWise_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Get_DetailedMIS_Controller</display-name>
    <servlet-name>Get_DetailedMIS_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Get_DetailedMIS_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get_DetailedMIS_Controller</servlet-name>
    <url-pattern>/Get_DetailedMIS_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Get_DetailedMIS_Summary_Controller</display-name>
    <servlet-name>Get_DetailedMIS_Summary_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Get_DetailedMIS_Summary_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get_DetailedMIS_Summary_Controller</servlet-name>
    <url-pattern>/Get_DetailedMIS_Summary_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Get_CastingStock_MSController</display-name>
    <servlet-name>Get_CastingStock_MSController</servlet-name>
    <servlet-class>com.muthagroup.controller.Get_CastingStock_MSController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get_CastingStock_MSController</servlet-name>
    <url-pattern>/Get_CastingStock_MSController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Get_MonthlyDispatch_Controller</display-name>
    <servlet-name>Get_MonthlyDispatch_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Get_MonthlyDispatch_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get_MonthlyDispatch_Controller</servlet-name>
    <url-pattern>/Get_MonthlyDispatch_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Get_MonthlyProduction_Controller</display-name>
    <servlet-name>Get_MonthlyProduction_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Get_MonthlyProduction_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get_MonthlyProduction_Controller</servlet-name>
    <url-pattern>/Get_MonthlyProduction_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Get_MonthlyReceipt_Controller</display-name>
    <servlet-name>Get_MonthlyReceipt_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Get_MonthlyReceipt_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get_MonthlyReceipt_Controller</servlet-name>
    <url-pattern>/Get_MonthlyReceipt_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Get_MachiningRejection_Controller</display-name>
    <servlet-name>Get_MachiningRejection_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Get_MachiningRejection_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get_MachiningRejection_Controller</servlet-name>
    <url-pattern>/Get_MachiningRejection_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Get_CastingRejection_Controller</display-name>
    <servlet-name>Get_CastingRejection_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Get_CastingRejection_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get_CastingRejection_Controller</servlet-name>
    <url-pattern>/Get_CastingRejection_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Get_DispPlanV_Sale_Controller</display-name>
    <servlet-name>Get_DispPlanV_Sale_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Get_DispPlanV_Sale_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get_DispPlanV_Sale_Controller</servlet-name>
    <url-pattern>/Get_DispPlanV_Sale_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Get_rmComsume_Controller</display-name>
    <servlet-name>Get_rmComsume_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Get_rmComsume_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get_rmComsume_Controller</servlet-name>
    <url-pattern>/Get_rmComsume_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Get_DaywiseBoring_Controller</display-name>
    <servlet-name>Get_DaywiseBoring_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Get_DaywiseBoring_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get_DaywiseBoring_Controller</servlet-name>
    <url-pattern>/Get_DaywiseBoring_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Get_CatWiseOut_Controller</display-name>
    <servlet-name>Get_CatWiseOut_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Get_CatWiseOut_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get_CatWiseOut_Controller</servlet-name>
    <url-pattern>/Get_CatWiseOut_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Get_PartywsPurOrder_Controller</display-name>
    <servlet-name>Get_PartywsPurOrder_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Get_PartywsPurOrder_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get_PartywsPurOrder_Controller</servlet-name>
    <url-pattern>/Get_PartywsPurOrder_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WorkOdrWSExpected_Boring_Controller</display-name>
    <servlet-name>WorkOdrWSExpected_Boring_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.WorkOdrWSExpected_Boring_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkOdrWSExpected_Boring_Controller</servlet-name>
    <url-pattern>/WorkOdrWSExpected_Boring_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Get_RateAmend_Controller</display-name>
    <servlet-name>Get_RateAmend_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Get_RateAmend_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get_RateAmend_Controller</servlet-name>
    <url-pattern>/Get_RateAmend_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Get_VendorBoringReceipt_Controller</display-name>
    <servlet-name>Get_VendorBoringReceipt_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Get_VendorBoringReceipt_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get_VendorBoringReceipt_Controller</servlet-name>
    <url-pattern>/Get_VendorBoringReceipt_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginToMiS_Controller</display-name>
    <servlet-name>LoginToMiS_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.LoginToMiS_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginToMiS_Controller</servlet-name>
    <url-pattern>/LoginToMiS_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Get_PartyWorkOrder_Controller</display-name>
    <servlet-name>Get_PartyWorkOrder_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Get_PartyWorkOrder_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get_PartyWorkOrder_Controller</servlet-name>
    <url-pattern>/Get_PartyWorkOrder_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InternalRejection_Controller</display-name>
    <servlet-name>InternalRejection_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.InternalRejection_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InternalRejection_Controller</servlet-name>
    <url-pattern>/InternalRejection_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SoftwareUsage_Controller</display-name>
    <servlet-name>SoftwareUsage_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.SoftwareUsage_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SoftwareUsage_Controller</servlet-name>
    <url-pattern>/SoftwareUsage_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CashBook_Controller</display-name>
    <servlet-name>CashBook_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.CashBook_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CashBook_Controller</servlet-name>
    <url-pattern>/CashBook_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Get_ASMFile_Controller</display-name>
    <servlet-name>Get_ASMFile_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.Get_ASMFile_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Get_ASMFile_Controller</servlet-name>
    <url-pattern>/Get_ASMFile_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MRMOperation_Controller</display-name>
    <servlet-name>MRMOperation_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.MRMOperation_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MRMOperation_Controller</servlet-name>
    <url-pattern>/MRMOperation_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MRMOperation_Entries</display-name>
    <servlet-name>MRMOperation_Entries</servlet-name>
    <servlet-class>com.muthagroup.controller.MRMOperation_Entries</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MRMOperation_Entries</servlet-name>
    <url-pattern>/MRMOperation_Entries</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_MRMOPParameter</display-name>
    <servlet-name>Add_MRMOPParameter</servlet-name>
    <servlet-class>com.muthagroup.controller.Add_MRMOPParameter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_MRMOPParameter</servlet-name>
    <url-pattern>/Add_MRMOPParameter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_MRMOperation</display-name>
    <servlet-name>Add_MRMOperation</servlet-name>
    <servlet-class>com.muthagroup.controller.Add_MRMOperation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_MRMOperation</servlet-name>
    <url-pattern>/Add_MRMOperation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Import_Hollidays</display-name>
    <servlet-name>Import_Hollidays</servlet-name>
    <servlet-class>com.muthagroup.controller.Import_Hollidays</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Import_Hollidays</servlet-name>
    <url-pattern>/Import_Hollidays</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BillWisePurchase_Controller</display-name>
    <servlet-name>BillWisePurchase_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.BillWisePurchase_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillWisePurchase_Controller</servlet-name>
    <url-pattern>/BillWisePurchase_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemCreate_Controller</display-name>
    <servlet-name>ItemCreate_Controller</servlet-name>
    <servlet-class>com.muthagroup.controller.ItemCreate_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemCreate_Controller</servlet-name>
    <url-pattern>/ItemCreate_Controller</url-pattern>
  </servlet-mapping>
</web-app>