<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ittracker</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login_Controller</display-name>
    <servlet-name>Login_Controller</servlet-name>
    <servlet-class>it.muthagroup.controller.Login_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_Controller</servlet-name>
    <url-pattern>/Login_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>new_requisition_controller</display-name>
    <servlet-name>new_requisition_controller</servlet-name>
    <servlet-class>it.muthagroup.controller.new_requisition_controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>new_requisition_controller</servlet-name>
    <url-pattern>/new_requisition_controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>take_action_controller</display-name>
    <servlet-name>take_action_controller</servlet-name>
    <servlet-class>it.muthagroup.controller.take_action_controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>take_action_controller</servlet-name>
    <url-pattern>/take_action_controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>software_access_controller</display-name>
    <servlet-name>software_access_controller</servlet-name>
    <servlet-class>it.muthagroup.controller.software_access_controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>software_access_controller</servlet-name>
    <url-pattern>/software_access_controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reset_Password</display-name>
    <servlet-name>Reset_Password</servlet-name>
    <servlet-class>it.muthagroup.controller.Reset_Password</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reset_Password</servlet-name>
    <url-pattern>/Reset_Password</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Change_Password_controller</display-name>
    <servlet-name>Change_Password_controller</servlet-name>
    <servlet-class>it.muthagroup.controller.Change_Password_controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Change_Password_controller</servlet-name>
    <url-pattern>/Change_Password_controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Report_Generator_Controller</display-name>
    <servlet-name>Report_Generator_Controller</servlet-name>
    <servlet-class>it.muthagroup.controller.Report_Generator_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Report_Generator_Controller</servlet-name>
    <url-pattern>/Report_Generator_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Req_Reopen_Controller</display-name>
    <servlet-name>Req_Reopen_Controller</servlet-name>
    <servlet-class>it.muthagroup.controller.Req_Reopen_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Req_Reopen_Controller</servlet-name>
    <url-pattern>/Req_Reopen_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search_requisition_controller</display-name>
    <servlet-name>Search_requisition_controller</servlet-name>
    <servlet-class>it.muthagroup.controller.Search_requisition_controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search_requisition_controller</servlet-name>
    <url-pattern>/Search_requisition_controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Asset_Master_Controller</display-name>
    <servlet-name>Asset_Master_Controller</servlet-name>
    <servlet-class>it.muthagroup.controller.Asset_Master_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Asset_Master_Controller</servlet-name>
    <url-pattern>/Asset_Master_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_NewDeviceType_Controller</display-name>
    <servlet-name>Add_NewDeviceType_Controller</servlet-name>
    <servlet-class>it.muthagroup.controller.Add_NewDeviceType_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_NewDeviceType_Controller</servlet-name>
    <url-pattern>/Add_NewDeviceType_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_NewSupplier_Controller</display-name>
    <servlet-name>Add_NewSupplier_Controller</servlet-name>
    <servlet-class>it.muthagroup.controller.Add_NewSupplier_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_NewSupplier_Controller</servlet-name>
    <url-pattern>/Add_NewSupplier_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_NewSoftware_Controller</display-name>
    <servlet-name>Add_NewSoftware_Controller</servlet-name>
    <servlet-class>it.muthagroup.controller.Add_NewSoftware_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_NewSoftware_Controller</servlet-name>
    <url-pattern>/Add_NewSoftware_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_NewOS_Controller</display-name>
    <servlet-name>Add_NewOS_Controller</servlet-name>
    <servlet-class>it.muthagroup.controller.Add_NewOS_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_NewOS_Controller</servlet-name>
    <url-pattern>/Add_NewOS_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_NewAdapter_Controller</display-name>
    <servlet-name>Add_NewAdapter_Controller</servlet-name>
    <servlet-class>it.muthagroup.controller.Add_NewAdapter_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_NewAdapter_Controller</servlet-name>
    <url-pattern>/Add_NewAdapter_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_NewIPAddress_Controller</display-name>
    <servlet-name>Add_NewIPAddress_Controller</servlet-name>
    <servlet-class>it.muthagroup.controller.Add_NewIPAddress_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_NewIPAddress_Controller</servlet-name>
    <url-pattern>/Add_NewIPAddress_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_AMCInfo_Controller</display-name>
    <servlet-name>Add_AMCInfo_Controller</servlet-name>
    <servlet-class>it.muthagroup.controller.Add_AMCInfo_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_AMCInfo_Controller</servlet-name>
    <url-pattern>/Add_AMCInfo_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_ContactDetails_Controller</display-name>
    <servlet-name>Add_ContactDetails_Controller</servlet-name>
    <servlet-class>it.muthagroup.controller.Add_ContactDetails_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_ContactDetails_Controller</servlet-name>
    <url-pattern>/Add_ContactDetails_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssueNote_Controller</display-name>
    <servlet-name>IssueNote_Controller</servlet-name>
    <servlet-class>it.muthagroup.controller.IssueNote_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueNote_Controller</servlet-name>
    <url-pattern>/IssueNote_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_DeviceParts_Controller</display-name>
    <servlet-name>Add_DeviceParts_Controller</servlet-name>
    <servlet-class>it.muthagroup.controller.Add_DeviceParts_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_DeviceParts_Controller</servlet-name>
    <url-pattern>/Add_DeviceParts_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_TermsCondition_Controller</display-name>
    <servlet-name>Add_TermsCondition_Controller</servlet-name>
    <servlet-class>it.muthagroup.controller.Add_TermsCondition_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_TermsCondition_Controller</servlet-name>
    <url-pattern>/Add_TermsCondition_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_IssueNoteAttach_Controller</display-name>
    <servlet-name>Add_IssueNoteAttach_Controller</servlet-name>
    <servlet-class>it.muthagroup.controller.Add_IssueNoteAttach_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_IssueNoteAttach_Controller</servlet-name>
    <url-pattern>/Add_IssueNoteAttach_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_NewSpares_Controller</display-name>
    <servlet-name>Add_NewSpares_Controller</servlet-name>
    <servlet-class>it.muthagroup.controller.Add_NewSpares_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_NewSpares_Controller</servlet-name>
    <url-pattern>/Add_NewSpares_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNewStock_Controller</display-name>
    <servlet-name>AddNewStock_Controller</servlet-name>
    <servlet-class>it.muthagroup.controller.AddNewStock_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewStock_Controller</servlet-name>
    <url-pattern>/AddNewStock_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeviceRepair_Controller</display-name>
    <servlet-name>DeviceRepair_Controller</servlet-name>
    <servlet-class>it.muthagroup.controller.DeviceRepair_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeviceRepair_Controller</servlet-name>
    <url-pattern>/DeviceRepair_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_SurrenderNote_Controller</display-name>
    <servlet-name>Add_SurrenderNote_Controller</servlet-name>
    <servlet-class>it.muthagroup.controller.Add_SurrenderNote_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_SurrenderNote_Controller</servlet-name>
    <url-pattern>/Add_SurrenderNote_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_CompanyAssets_Controller</display-name>
    <servlet-name>Add_CompanyAssets_Controller</servlet-name>
    <servlet-class>it.muthagroup.controller.Add_CompanyAssets_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_CompanyAssets_Controller</servlet-name>
    <url-pattern>/Add_CompanyAssets_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_toScrap_Controller</display-name>
    <servlet-name>Add_toScrap_Controller</servlet-name>
    <servlet-class>it.muthagroup.controller.Add_toScrap_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_toScrap_Controller</servlet-name>
    <url-pattern>/Add_toScrap_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_PrinterRefill_Controller</display-name>
    <servlet-name>Add_PrinterRefill_Controller</servlet-name>
    <servlet-class>it.muthagroup.controller.Add_PrinterRefill_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_PrinterRefill_Controller</servlet-name>
    <url-pattern>/Add_PrinterRefill_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_NewAccess_Controller</display-name>
    <servlet-name>Add_NewAccess_Controller</servlet-name>
    <servlet-class>it.muthagroup.controller.Add_NewAccess_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_NewAccess_Controller</servlet-name>
    <url-pattern>/Add_NewAccess_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_UserAccess_Controller</display-name>
    <servlet-name>Add_UserAccess_Controller</servlet-name>
    <servlet-class>it.muthagroup.controller.Add_UserAccess_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_UserAccess_Controller</servlet-name>
    <url-pattern>/Add_UserAccess_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_TonerRefill_Controller</display-name>
    <servlet-name>Add_TonerRefill_Controller</servlet-name>
    <servlet-class>it.muthagroup.controller.Add_TonerRefill_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_TonerRefill_Controller</servlet-name>
    <url-pattern>/Add_TonerRefill_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Issue_Note</display-name>
    <servlet-name>Issue_Note</servlet-name>
    <servlet-class>it.muthagroup.controller.Issue_Note</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Issue_Note</servlet-name>
    <url-pattern>/Issue_Note</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MIS_AccessController</display-name>
    <servlet-name>MIS_AccessController</servlet-name>
    <servlet-class>it.muthagroup.controller.MIS_AccessController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MIS_AccessController</servlet-name>
    <url-pattern>/MIS_AccessController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Birthday_Controller</display-name>
    <servlet-name>Add_Birthday_Controller</servlet-name>
    <servlet-class>it.muthagroup.controller.Add_Birthday_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Birthday_Controller</servlet-name>
    <url-pattern>/Add_Birthday_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddInfo_Controller</display-name>
    <servlet-name>AddInfo_Controller</servlet-name>
    <servlet-class>it.muthagroup.controller.AddInfo_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddInfo_Controller</servlet-name>
    <url-pattern>/AddInfo_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPhoto_Controller</display-name>
    <servlet-name>AddPhoto_Controller</servlet-name>
    <servlet-class>it.muthagroup.controller.AddPhoto_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPhoto_Controller</servlet-name>
    <url-pattern>/AddPhoto_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_BirthdayList_Controller</display-name>
    <servlet-name>Add_BirthdayList_Controller</servlet-name>
    <servlet-class>it.muthagroup.controller.Add_BirthdayList_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_BirthdayList_Controller</servlet-name>
    <url-pattern>/Add_BirthdayList_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddConfig_Controller</display-name>
    <servlet-name>AddConfig_Controller</servlet-name>
    <servlet-class>it.muthagroup.controller.AddConfig_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddConfig_Controller</servlet-name>
    <url-pattern>/AddConfig_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_SoftwaresInstalled_Controller</display-name>
    <servlet-name>Add_SoftwaresInstalled_Controller</servlet-name>
    <servlet-class>it.muthagroup.controller.Add_SoftwaresInstalled_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_SoftwaresInstalled_Controller</servlet-name>
    <url-pattern>/Add_SoftwaresInstalled_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_NewDMSDoc</display-name>
    <servlet-name>Add_NewDMSDoc</servlet-name>
    <servlet-class>it.muthagroup.controller.Add_NewDMSDoc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_NewDMSDoc</servlet-name>
    <url-pattern>/Add_NewDMSDoc</url-pattern>
  </servlet-mapping>
</web-app>